<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

        {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/base_font.css' %}">

</head>
<body class="bg-img">
    <br><br><br>
    <div id="left_visual"></div>
    <div id="center1_visual"></div>
    <a href='/user' id="center2_visual">
        <img src="static/images/base/login_btn.png">
    </a>
    <div id="right_visual"></div>
</body>
</html>