.bg-img{
    height: 97vh;
    background-image: url("../images/base/back.png");
    background-repeat: no-repeat;
    background-size: cover;
}

table{
    border:2px solid #444444;
    border-collapse: collapse;
}



.top, .top > th {
    border:2px solid #444444;
}

#left_visual {
    content:url("../images/base/left.png");
    height: 650px;
    width: 400px;
    position: absolute;
    top: 55%;
    left : 15%;
    transform: translate(-50%, -50%);
}

#left_visual3 {
    content:url("../images/base/calendarleft.png");
    height: 650px;
    width: 230px;
    position: absolute;
    top: 55%;
    left : 9.8%;
    transform: translate(-50%, -50%);
}
#center1_visual{
    content:url("../images/base/title.png");
    height: 300px;
    width: 700px;
    top: 250px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#center2_visual {
    position: absolute;
    height: 70px;
    width: 300px;
    top: 250px;
    top: 65%;
    left : 50%;
    transform: translate(-50%, -50%);
}

#center2_visual img{
    position: absolute;
    height: 100px;
    width: 300px;
    top: 250px;
    top: 50%;
    left : 50%;
    transform: translate(-50%, -50%);
}
#right_visual{
    content:url("../images/base/right.png");
    height: 650px;
    width: 400px;
    position: absolute;
    top: 55%;
    left : 85%;
    transform: translate(-50%, -50%);
}

/*boardwrite*/


#preview {
    max-width: 300px;
    max-height: 300px;
    display: block;
    margin: 0 auto;
}
#boardwrite_button {
    position: absolute;
    right: 30%;
}
